body{
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max width:600px){
        img {
            width: 400px;
    }
}
@media only screen and (max width:400px){
    img {
        width: 200px;
}
@media  only screen and (max-width:200px){
    img{
        width: 50px;
    }
}
@media(max-width:768px ){
    .two{
        flex-direction: column;
    }
    .one > div{
        width: 49.8%;
        margin-bottom: 10px;
    }
}
}
.main{
    justify-content: space-between;
}
.link{
    color: white;
    background-color: dodgerblue;
    width: 100%;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
}
.headline{
    text-align: center;
}
.fix{
    text-align: center;
    vertical-align: top;
}
p{
    display: inline-block;
    text-align: center;
    margin: 10px;
}
.para{
    border: 1px solid;
    justify-content: space-between;
    margin: 10px;
}
.intro{
        text-align: center;
}
a:link{
    margin: 5px;
}
li{
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.headline{
    text-align: center;
    color: white;
    background-color:dodgerblue;
    font-size: medium;
}
h1{
    display: inline;
}
.intro{
    text-align: center;
}
.one{
    color: white;
    background-color: dodgerblue;
}
.two{
    display: inline-block;
    text-align: center;
    width: 23%;
}

.four{
    border-style: inset ;
    width: 30%;
    display: inline-block;
    height: 200px;
    text-align: center;
}
.main-four{
    width: 80%;
    margin: 0 auto;
}
.five{
    text-align: center;
}
.five1{
    display: inline-block;
    width: 70%;
}
.six{
    background-color: lightgrey;
    border: 1px solid;
    width: 18%;
    margin: 20px auto;
    justify-content: space-between;
    display: inline-block;
    text-align: center;
}
.five2{
    width: 30%;
    margin: 20px auto;
    display: inline-block;
    border-style: inset;
    text-align: center;
    justify-content: space-between;
}
.seven{
    width: 90%;
    margin: 20px auto;
}
.main-eight{
    color:white;
    background-color: dimgrey;
    width: 100%;
    height: 350px;
}
.eight{
    width: 30%;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
}
    .nine{
    background-color: dodgerblue;
    text-align: center;
}
.ten{
    position: fixed;
    bottom: 10px;
    right: 30px;
}